@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="Cotainer">
    <p class="text-justify">
        My name is Priyanka Jayanthi.I came to Sweden in 2017.I did my SASG and currently doing Lexicon DotNet programming.I am a jobseeker for
        fortend developer.
        </p>
</div>
<div class="container">
    <h2>Skills</h2>
    <ul>
        <li>
            <b>Programming Languages:</b>C, HTML, CSS,Java(basic).
        </li>
        <li>
            PowerBI tools
        </li>
        <li>
            Dyalog APL
        </li>
    </ul>
     
</div>
