@{
    ViewData["Title"] = "Contact";
}
<h1>Contact Information</h1>
<b>Contact Number:</b> 072144563
<br />
<b> E-Mail Id:</b>jp7483@gmail.com.
<br />
<b>Address</b>
<b>Country:</b>Sweden.
<br />
<b>City:</b>Göthenborg.
<br />
<b>Street:</b>Backable.
<br />