
@{
    ViewData["Title"] = "Projects";
}
<h1>My github projects</h1>
<nav>
    <ul>
    <li>
        Calculator program to perfom basic mathematical operations like Addition,Subtraction,Division,Multplication.
        <a href="https://github.com/PriyankaJayanthi/Calculator_Assignment">Calculator Assignement</a>
    </li>
    <li>
        Hangman program is the gussing word game.
        <a href="https://github.com/PriyankaJayanthi/Hangman_Assignment">Hangman Assinement</a>

    </li>
        <li>
            Calculator using xUnit means self testing the program by giving values.
            <a href="https://github.com/PriyankaJayanthi/Calculator_xUint_Assignement">xUnit Assignement</a>
        </li>
        <li>
            Sokobanbase game by using javascript.Sokoban means there is a map with walls,blocks,goles and player.Player must move all the blocks to the goal point.
            <a href="https://github.com/PriyankaJayanthi/JavaScript">Javascript Assignement</a>
        </li>
    </ul>
</nav>
    